:root {
    --rojo: red;
    --blanco: white;
    --gris: grey;
    --negro: black;
    --tipo-titular: 'Playfair Display', serif;
    --tipo-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

img, 
figure{
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

video {
    max-width: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}

p a {
    display: inline;
}

li {
    list-style-type: none;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

::selection {
    background-color: var(--negro);
    color: var(--blanco);
}

form, 
button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    display: flex;
    color: inherit;
}

body {
    font-family: var(--tipo-principal);
    font-size: 100%;
    min-height: 100vh;
    background-color: var(--blanco);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.bk{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
        -45deg, 
        rgb(207, 48, 255) 0%, 
        rgb(252, 250, 121) 100%
    );  
    animation: AnimateBG 20s ease infinite;
}
@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.header{
    z-index: 10;
    width: 100%;
    min-height: 3em;

    padding: 1em 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.header .h1{
    font-family: var(--tipo-principal);
    font-weight: 700;
    transition: all .2s ease;
}
.header .h1:hover{
 color: white;
}
.header .h1 .a{}
.header .nav{}
.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.header .li{
    margin: 0 1em;
    transition: all .2s ease;
}
.header .li:hover{
    color: white;
}
.header .li .a{}


.main{
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 0;
    text-align: center;
    z-index: 2;
}

.seccion{
    width: 100%;
    min-height: 100vh;
    margin: 1em 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.portImg{
    margin: 1em 0 0;
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 3px solid;
}
.info{
    min-height: 100vh;
    margin-top: 0em;
}
.bkimg{
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(6px);
    -webkit-filter: blur(6px);
}
.section{
    margin: 1em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3%;
}
.content{
    color: black;
}
.h2{
    font-family: var(--tipo-titular);
    font-size: 5em;
    font-weight: 600;
}
.h3{
    font-family: var(--tipo-titular);
    font-size: 3em;
}
.rrss{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.li{
    margin: 0 1em;
}
.a{}
.svg{
    margin: 2em 0 0;
    width: 2em;
    height: 2em;
    transition: all .2s ease;
}
.svg:hover{
    color: white;
}



.seccion .p{}
.seccion .grid{
    width: 90%;
    margin: 1em 0;
    max-width: 40em;

    display: grid;
    grid-template-columns: repeat( auto-fit , minmax( 10rem , 1fr));
    gap: 1em;
}
.seccion .article{
    width: 100%;
    min-height: 20vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
}
.seccion .a{}
.seccion .figure{
    width: 100%;
}
.seccion .img{
    width: 100%;
}
.seccion .h4{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.works{}
.works .h2{
    margin: 0 0 1rem;
}

.about{
    font-size: 1em;
    justify-content: center;
    align-items: center;
    margin-bottom: 0em;
}
.about .h2{
    margin: 0 0 1rem;
}
.about .texto{}
.about .texto .p{
    margin:  1em 1em 1em;
    max-width: 40em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: left;
    font-size: 1.4em;
    font-weight: 500;
}

.footer{
    padding: 2em 0;
    text-align: center;
}
.footer .span{}
